*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 30px auto;
    background-color: #dae900;
    background-image: linear-gradient(160deg, #abe900 0%, #99d080 100%);


}

#resultado{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px   ;
}
#resultado2{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px   ;
}
#resultado3{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px   ;
}
.select{
    background-color: #abe900;
}
.select:hover{
    background-color: #c6f741;
}